<!doctype html>
<head>
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<title>IOSIG Web Dashboard</title>
</head>
<body>
<h1>IOSIG Web Dashboard</h1>

{% if list %}
<h4>Click application names for details.</h4>
  <div class="trace_entry, table_header">
    <div class="trace_entry_user">USER</div>
    <div class="trace_entry_date">DATE</div>
    <div class="table_header_c3">APPLICATION</div>
  </div>
  {% for dir in list %}
  <div class="trace_entry">
        <div class="trace_entry_user">{{ dir[0] }}</div>
        <div class="trace_entry_date">{{ dir[1] }}</div>
        <div class="trace_entry_app">{{ dir[2] }}</div>
    </div>
  {% endfor %}
{% else %}
  <h4>No traces!</h4>
{% endif %}
</body>
