<!doctype html>
<head>
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<title>IOSIG Web Dashboard</title>
</head>
<body>
<h1>IOSIG Web Dashboard</h1>

{% if list %}
<h4>Click application names for details.</h4>
  <table class="container">
  <tr class="table_header">
    <td class="trace_info">USER</td>
    <td class="trace_info">DATE</td>
    <td class="trace_info">APPLICATION</td>
    <td class="trace_info">EXE<br>TIME</td>
    <td class="trace_info">READ<br>COUNT</td>
    <td class="trace_info">READ<br>TIME</td>
    <td class="trace_info">WRITE<br>COUNT</td>
    <td class="trace_info">WRITE<br>TIME</td>
  </tr>
  {% for dir in list %}
  <tr class="trace_entry">
      <td class="trace_info">{{ dir[0] }}</td>
      <td class="trace_info">{{ dir[1] }}</td>
      <td class="trace_info"><a href="/details/{{ dir[3] }}"><code>{{ dir[2] }}</code></a></td>
      <td class="trace_info">{{ dir[4] }}</td>
      <td class="trace_info">{{ dir[5] }}</td>
      <td class="trace_info">{{ dir[6] }}</td>
      <td class="trace_info">{{ dir[7] }}</td>
      <td class="trace_info">{{ dir[8] }}</td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <h4>No traces!</h4>
{% endif %}
</body>
