<!doctype html>
<head>
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<title>Details - {{trace_id}}</title>
</head>
<body>
    <h1>Details - {{trace_id}}</h1>


{% if figure_list %}
  <table>
  {% for figure in figure_list %}
      <tr>
          <td>
              <span class="proc_id">{{figure[0]}}</span>
          </td>
          <td>
              <a href="#">EXE Trace</a>
              <br>
              <a href="#">I/O Trace</a>
          </td>
          <td><img src='{{ url_for('iosig_data.static', filename=figure[1]) }}' /></td>
          <td>
              {% if figure[2] %}
              <img src='{{ url_for('iosig_data.static', filename=figure[2]) }}' />
              {% else %}
              <span>Data access pattern: Contiguous.</span>
              {% endif %}
          </td>
      </tr>
      <!--
  <p> {{figure[0]}}, {{figure[1]}}, {{figure[2]}} </p>
    <img src='{{ url_for('iosig_data.static', filename=figure[1]) }}' />

    <div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    -->
  {% endfor %}
  </table>
{% else %}
  <p>No details available...</p>
{% endif %}
</body>
