body            { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; background: #eee; }
h1              { font-family: "Segoe UI"; border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
code            { font-family: Monaco, Consolas, "Lucida Console", monospace; font-size: 0.9em;}

.container      { border-spacing: 0px; border-collapse:collapse;}
.trace_entry    { border: 0px; }
.trace_entry:hover    { background: #ccc; }
.trace_entry_user { margin: 0.1em; float: left; width: 100px; }
.trace_entry_date { margin: 0.1em; float: left; width: 200px; }
.trace_entry_app { margin: 0.1em; float: left; width: 300px; font-family: Monaco, Consolas, "Lucida Console", monospace; }
.trace_entry_stat { font-size: 0.8em; margin: 0.1em; float: left; width: 60px; }
.trace_entry_fill {display:block; width:100%; height:100%; z-index:10; }
.trace_info {padding: 0.1em 0.5em 0.1em 0.5em; }

.table_header    { font-family: "Segoe UI"; color: #999; }
.table_header_c3 { margin: 0.1em; float: left; width: 300px; }
.proc_id         { display: inline-block; background: #555; color: #fff; padding: 0.2em; border-radius: 1em; margin: 0.2em; }
.wordwrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
           }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
    padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
    margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
    border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
